<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="max-w-[1410px] mx-auto">
  <div class="flex gap-6 mb-4">
    <div>
      <p class="text-sm">время</p>
      <app-input placeholder="начальное время" [formControl]="startTimeControl"></app-input>
      <app-input placeholder="конечное время" [formControl]="endTimeControl"></app-input>
    </div>
    <div>
      <p class="text-sm">дата</p>
      <app-input placeholder="начальное дата" [formControl]="startDateControl"></app-input>
      <app-input placeholder="конечная дата" [formControl]="endDateControl"></app-input>
    </div>
  </div>
  <div class="relative overflow-x-auto sm:rounded-lg">
    <div class="pb-4 bg-white dark:bg-gray-900">
      <div class="relative mt-1">
        <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <app-input [extraClass]="'ps-10'" placeholder="поиск по отправителю" [formControl]="searchControl"></app-input>
      </div>
    </div>

    <table class="w-full text-sm text-left rtl:text-right dark:text-gray-400">
      <thead class="text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr app-table-head>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let user of users; let i = index">
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" app-table-row [i]="i" [user]="user"></tr>
      </ng-container>
      </tbody>
    </table>
  </div>

  <div class="flex" [formGroup]="createForm">
    <div class="flex gap-2 items-center">
      <svg class="w-6 h-6 text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 1 0 0-18 9 9 0 0 0 0 18Zm0 0a8.949 8.949 0 0 0 4.951-1.488A3.987 3.987 0 0 0 13 16h-2a3.987 3.987 0 0 0-3.951 3.512A8.948 8.948 0 0 0 12 21Zm3-11a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
      </svg>

      <app-input formControlName="fullName" placeholder="имя"></app-input>
    </div>

    <div class="px-6 py-4 flex flex-col gap-6">
      <div class="flex gap-2 items-center">
        <svg class="w-6 h-6 text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>

        <app-input formControlName="time" placeholder="время"></app-input>
      </div>
      <div class="flex gap-2 items-center">
        <svg class="w-6 h-6 text-blue-500 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 10h16m-8-3V4M7 7V4m10 3V4M5 20h14a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Zm3-7h.01v.01H8V13Zm4 0h.01v.01H12V13Zm4 0h.01v.01H16V13Zm-8 4h.01v.01H8V17Zm4 0h.01v.01H12V17Zm4 0h.01v.01H16V17Z"/>
        </svg>

        <app-input formControlName="date" placeholder="дата"></app-input>
      </div>
    </div>

    <textarea formControlName="message" class="focus:outline-none focus:border-blue-500 block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300" placeholder="сообщение"></textarea>

    <div class="px-6 py-4 flex flex-col gap-2">
      <div (click)="createUser()" class="transition-all text-center cursor-pointer text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5">сохранить</div>
      <div class="transition-all text-center cursor-pointer text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 px-5 py-2.5">отмена</div>
    </div>
  </div>
</div>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet/>
